body {
  background-color: var(--gray);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 8px;
  padding: 0;
  color: white;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --gray: rgb(237, 237, 233);
  --brown: rgb(213, 189, 175);
  --rotate: rotate(135deg);
}
